# Data Prep

In [22]:
import pandas as pd
papers = pd.read_json("data/papers.json")

In [24]:
papers.head()

,institution,date,title,filename,status
0,bml,Maddox 2011,﻿Spatial cognition and learning within the scu...,bml_Maddox 2011_SPRING.txt,NaN
1,ucla,1989,﻿Behavioral Notes on the Southern Sand Star As...,ucla_1989_MarKelvin.txt,NaN
2,fhl,2012,﻿A comparison of laboratory feeding rates with...,fhl_2012_Roberts.txt,NaN
3,usc,1998,﻿» .,usc_1998_Sp_Carr.txt,NaN
4,ucla,1981,﻿DIFFERENCES BETWEEN COLOR MORPHS,ucla_1981_WuestehubeLindaJ.txt,NaN

In [25]:
papers.tail()

,institution,date,title,filename,status
613,carl,1986,﻿Frond elongation rate of Macrocystis pyrifera...,carl_1986_Bailey_and_Onello.txt,NaN
614,ucla,1981,﻿SPATIAL PARTITIONING OF RESOURCES AMONG,ucla_1981_DaparRhysV.txt,NaN
615,ucla,1987,﻿TPE ROLE OF n-E SPINE,ucla_1987_ReichenbergerPatrick.txt,NaN
616,hms,1964,﻿MACROSCOPIC ALGAL POOLS OP LITTORINA PLANAXIS...,hms_1964_DahlArthurLyon.txt,NaN
617,ucla,1975,﻿.\t»ism,ucla_1975_BrownGarry.txt,NaN

In [4]:
first = papers.sample()

In [13]:
str(first['date'])

'174    1999\nName: date, dtype: object'

In [19]:
first['date'].iloc[0]

'1999'

In [23]:
len(papers)

618

In [ ]:
papers.heads