# Data Prep

In [9]:
import pathlib
import pandas as pd

papers = pd.read_json("data/papers.json")

In [24]:
papers.head()

,institution,date,title,filename,status
0,bml,Maddox 2011,﻿Spatial cognition and learning within the scu...,bml_Maddox 2011_SPRING.txt,NaN
1,ucla,1989,﻿Behavioral Notes on the Southern Sand Star As...,ucla_1989_MarKelvin.txt,NaN
2,fhl,2012,﻿A comparison of laboratory feeding rates with...,fhl_2012_Roberts.txt,NaN
3,usc,1998,﻿» .,usc_1998_Sp_Carr.txt,NaN
4,ucla,1981,﻿DIFFERENCES BETWEEN COLOR MORPHS,ucla_1981_WuestehubeLindaJ.txt,NaN

In [25]:
papers.tail()

,institution,date,title,filename,status
613,carl,1986,﻿Frond elongation rate of Macrocystis pyrifera...,carl_1986_Bailey_and_Onello.txt,NaN
614,ucla,1981,﻿SPATIAL PARTITIONING OF RESOURCES AMONG,ucla_1981_DaparRhysV.txt,NaN
615,ucla,1987,﻿TPE ROLE OF n-E SPINE,ucla_1987_ReichenbergerPatrick.txt,NaN
616,hms,1964,﻿MACROSCOPIC ALGAL POOLS OP LITTORINA PLANAXIS...,hms_1964_DahlArthurLyon.txt,NaN
617,ucla,1975,﻿.\t»ism,ucla_1975_BrownGarry.txt,NaN

In [4]:
first = papers.sample()

In [13]:
str(first['date'])

'174    1999\nName: date, dtype: object'

In [19]:
first['date'].iloc[0]

'1999'

In [23]:
len(papers)

618

In [2]:
hopkins_df = pd.read_csv("/Users/jpnelson/Downloads/SULAI_Metadata_StudentPapers - Hopkins.csv")

In [3]:
hopkins_df.head()

,Author,Secondary Author,Year,Title,Pages,Month,Class,Advisor,Class.1,Keywords,Abstract,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"Berrie, Warren R.","Devereaux, Mitchel W.",1963,Identification and location of carbohydrases i...,5.0,June,Final papers Biology 175H,NaN,175H,"black turban snail, Tegula",Carbohydrate digestion in the snail Tegula fun...,NaN,NaN,NaN
1,"Best, Barbara A.",NaN,1963,Feeding activities of Tegula funebralis,14.0,June,Final papers Biology 175H,NaN,175H,"black turban snail, Tegula",1. Tegula funebrals will ingest nearly any alg...,NaN,NaN,NaN
2,"Black, Patricia Ann",NaN,1963,Description and habitat of some micro-organism...,9.0,June,Final papers Biology 175H,"Phillips, John H.",175H,"black turban snail, Tegula",The digestive tract of a gastropod was examine...,NaN,NaN,NaN
3,"Bollay, Melody",NaN,1963,Distribution and utilization of gastropod shel...,6.0,June,Final papers Biology 175H,NaN,175H,"black turban snail, Tegula",1) Of the three species of hermit crabs found ...,NaN,NaN,NaN
4,"Burke, William Romney",NaN,1963,Chemoreception by Tegula funebralis (Mollusca:...,4.0,June,Final papers Biology 175H,NaN,175H,"black turban snail, Tegula",Tegula funebralis has both gustatory and olfac...,NaN,NaN,NaN

In [65]:
normed_hopkins_df = hopkins_df.drop(['Class.1', 'Month', 'Class', 'Pages', 'Advisor',
                                     'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
                                     axis=1)
normed_hopkins_df['Institution'] = 'Hopkins'

In [66]:
normed_hopkins_df.head()

,Author,Secondary Author,Year,Title,Keywords,Abstract,Institution
0,"Berrie, Warren R.","Devereaux, Mitchel W.",1963,Identification and location of carbohydrases i...,"black turban snail, Tegula",Carbohydrate digestion in the snail Tegula fun...,Hopkins
1,"Best, Barbara A.",NaN,1963,Feeding activities of Tegula funebralis,"black turban snail, Tegula",1. Tegula funebrals will ingest nearly any alg...,Hopkins
2,"Black, Patricia Ann",NaN,1963,Description and habitat of some micro-organism...,"black turban snail, Tegula",The digestive tract of a gastropod was examine...,Hopkins
3,"Bollay, Melody",NaN,1963,Distribution and utilization of gastropod shel...,"black turban snail, Tegula",1) Of the three species of hermit crabs found ...,Hopkins
4,"Burke, William Romney",NaN,1963,Chemoreception by Tegula funebralis (Mollusca:...,"black turban snail, Tegula",Tegula funebralis has both gustatory and olfac...,Hopkins

In [30]:
fhl_print_df = pd.read_csv('/Users/jpnelson/Downloads/SULAI_Metadata_StudentPapers - FHL_print.csv')

In [36]:
normed_fhl_df = fhl_print_df.drop(['Course Number','Quarter', 'Quarter'], axis=1)
normed_fhl_df = normed_fhl_df.rename(columns={'Descriptors': 'Keywords'})
normed_fhl_df["Institution"] = "Friday Harbor Laboratories"

In [37]:
normed_fhl_df.head()

,Author,Title,Year,Keywords,Institution
0,"Bee, James William",A preliminary report of the ecology of False Bay,1949,Macoma; Transennella tantilla; Rochefortia tumida,Friday Harbor Laboratories
1,"Comita, Gabriel W.",Copepod commensals of pelecypods,1949,Paranthessius; Schizothaerus; Herrmannella fin...,Friday Harbor Laboratories
2,"Comita, Gabriel W.",A list of the common molluscs collected during...,1949,NaN,Friday Harbor Laboratories
3,"Dunn, Margaret E.",Parasitic Cirripedia and Isopoda infesting shr...,1949,Mycetomorpha; Sylon; Spirontocaris moseri,Friday Harbor Laboratories
4,"Oldenborg, Elizabeth A",Some errant polychaetes of Friday Harbor area,1949,NaN,Friday Harbor Laboratories

In [40]:
len(normed_fhl_df)

3143

In [38]:
fhl_digital_df = pd.read_csv('/Users/jpnelson/Downloads/SULAI_Metadata_StudentPapers - FHL_digital.csv')

In [67]:
normed_fhl_dig_df = fhl_digital_df.drop(['Date', 'Month', 'URL', 'Handle_id', 'PDFname'], 
                                        axis=1)
normed_fhl_dig_df["Institution"] = "Friday Harbor Laboratories"

In [45]:
normed_fhl_dig_df.head()

,Author,Year,Title,Abstract,Institution
0,"Jou, Fannie",2010,Quantifying Shell Strength in Mussels,NaN,Friday Harbor Laboratories
1,"Millspaugh, Andrew",2010,Quantifying Strength Properties of Intertidal ...,NaN,Friday Harbor Laboratories
2,"Le, Lynda",2010,"A Review of the Ecology, Life History, and Mor...",NaN,Friday Harbor Laboratories
3,"Dabrowski, Anna",2010,Net Pen Salmon Farming in the San Juan Islands...,NaN,Friday Harbor Laboratories
4,"Brezicha, Jessica",2010,Sticking to it: The effect of temperature on t...,NaN,Friday Harbor Laboratories

In [46]:
len(normed_fhl_dig_df)

565

In [47]:
hatfield_df = pd.read_csv('/Users/jpnelson/Downloads/SULAI_Metadata_StudentPapers - Hatfield_OSU.csv')

In [48]:
hatfield_df.head()

,Author,Year,Title,Secondary Author,Pages,Date,Type of Work,Advisor,Class,Keywords,Notes,blank,Abstract
0,"Edwards, Robert J.",1972.0,Movements and social behavior in response to t...,NaN,19.0,August,Research Report,NaN,Zoology 451-452,Pisaster ochraceus; Seastar,NaN,NaN,NaN
1,"Blomberg, George",1970.0,Adaptations of Callianassa californiensis and ...,NaN,19.0,Summer,Research Report,NaN,Zoology 451-452,Callianassa californiensis; Upogebia pugettens...,NaN,NaN,NaN
2,"Fisher, Larklyn",1967.0,Photosensitive behavior of three species of Th...,NaN,50.0,August,Research Report,NaN,Zoology 451-452?,Thais lamellosa; Thais emarginate; Thais canal...,NaN,NaN,NaN
3,"Silberling, Elizabeth",1975.0,Substrate selection in the iIntertidal shore c...,NaN,17.0,August,Research Report,NaN,Zoology 451-452,Hemigrapsus oregonensis; Cocquille Point; Yaqu...,NaN,NaN,NaN
4,"Skelley, David",1973.0,Feeding and agonistic behavior in hermit crabs...,NaN,15.0,Summer,Research Report,NaN,Zoology 451-452,Paguras; Hermit crab;,NaN,NaN,NaN

In [51]:
hatfield_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Author            136 non-null    object
 1   Year              135 non-null    float64
 2   Title             136 non-null    object
 3   Secondary Author  27 non-null     object
 4   Pages             135 non-null    float64
 5   Date              104 non-null    object
 6   Type of Work      134 non-null    object
 7   Advisor           13 non-null     object
 8   Class             86 non-null     object
 9   Keywords          136 non-null    object
 10  Notes             32 non-null     object
 11  blank             0 non-null      float64
 12  Abstract          0 non-null      float64
dtypes: float64(4), object(9)
memory usage: 13.9+ KB

In [68]:
normed_hatfield_df = hatfield_df.drop(['Pages', 'Date', 'Type of Work',
                                       'Advisor', 'Class', 'Notes', 'blank'],
                                       axis=1)
normed_hatfield_df['Institution'] = 'Hatfield Marine Science Center'

In [69]:
normed_hatfield_df.head()

,Author,Year,Title,Secondary Author,Keywords,Abstract,Institution
0,"Edwards, Robert J.",1972.0,Movements and social behavior in response to t...,NaN,Pisaster ochraceus; Seastar,NaN,Hatfield Marine Science Center
1,"Blomberg, George",1970.0,Adaptations of Callianassa californiensis and ...,NaN,Callianassa californiensis; Upogebia pugettens...,NaN,Hatfield Marine Science Center
2,"Fisher, Larklyn",1967.0,Photosensitive behavior of three species of Th...,NaN,Thais lamellosa; Thais emarginate; Thais canal...,NaN,Hatfield Marine Science Center
3,"Silberling, Elizabeth",1975.0,Substrate selection in the iIntertidal shore c...,NaN,Hemigrapsus oregonensis; Cocquille Point; Yaqu...,NaN,Hatfield Marine Science Center
4,"Skelley, David",1973.0,Feeding and agonistic behavior in hermit crabs...,NaN,Paguras; Hermit crab;,NaN,Hatfield Marine Science Center

In [54]:
carlton_df = pd.read_csv('/Users/jpnelson/Downloads/SULAI_Metadata_StudentPapers - Carleton.csv')

In [55]:
carlton_df.head()

,Author,Secondary Author,Year,Title,Pages,Date,Type of Work,Advisor,Class,Keywords,Abstract,Unnamed: 11,Unnamed: 12
0,"Bayles, Ernie",NaN,1976,Pugettia richii: Decorating or camouflaging? A...,14.0,March,Research Reports Carleton College Biology 212,"Wagenbach, Gary",212,decorater crabs,NaN,NaN,NaN
1,"Benn, Paul",NaN,1976,Species groupings in California intertidal spo...,18.0,1976,Research Reports Carleton College Biology 212,"Wagenbach, Gary",212,NaN,Intertidal sponges and ascidians provide conve...,NaN,NaN
2,"Davidson, Liese",NaN,1976,Limpet - rock interactions and groove formatio...,13.0,1976,Research Reports Carleton College Biology 212,"Wagenbach, Gary",212,NaN,Three species of limpets living on the soft ro...,NaN,NaN
3,"Evans, James E.",NaN,1976,Meiofauna - sediment relationships in a sandy ...,32.0,March,Research Reports Carleton College Biology 212,"Wagenbach, Gary",212,NaN,"The topography of a sandy, subtidal region nea...",NaN,NaN
4,"Fallon, Theodore, Jr.",NaN,1976,Aggressive interactions of the California sea ...,28.0,March,Research Reports Carleton College Biology 212,"Wagenbach, Gary",212,NaN,The aggressive behaviors of the California sea...,NaN,NaN

In [56]:
carlton_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Author            40 non-null     object
 1   Secondary Author  3 non-null      object
 2   Year              42 non-null     object
 3   Title             40 non-null     object
 4   Pages             40 non-null     float64
 5   Date              40 non-null     object
 6   Type of Work      39 non-null     object
 7   Advisor           39 non-null     object
 8   Class             39 non-null     object
 9   Keywords          7 non-null      object
 10  Abstract          29 non-null     object
 11  Unnamed: 11       0 non-null      float64
 12  Unnamed: 12       1 non-null      object
dtypes: float64(2), object(11)
memory usage: 4.4+ KB

In [70]:
normed_carlton_df = carlton_df.drop(['Pages', 'Date', 'Type of Work', 'Advisor', 
                                     'Class', 'Unnamed: 11', 'Unnamed: 12'], axis=1)
normed_carlton_df['Institution'] = 'Carleton College'

In [71]:
normed_carlton_df.head()

,Author,Secondary Author,Year,Title,Keywords,Abstract,Institution
0,"Bayles, Ernie",NaN,1976,Pugettia richii: Decorating or camouflaging? A...,decorater crabs,NaN,Carleton College
1,"Benn, Paul",NaN,1976,Species groupings in California intertidal spo...,NaN,Intertidal sponges and ascidians provide conve...,Carleton College
2,"Davidson, Liese",NaN,1976,Limpet - rock interactions and groove formatio...,NaN,Three species of limpets living on the soft ro...,Carleton College
3,"Evans, James E.",NaN,1976,Meiofauna - sediment relationships in a sandy ...,NaN,"The topography of a sandy, subtidal region nea...",Carleton College
4,"Fallon, Theodore, Jr.",NaN,1976,Aggressive interactions of the California sea ...,NaN,The aggressive behaviors of the California sea...,Carleton College

In [61]:
usc_df = pd.read_csv('/Users/jpnelson/Downloads/SULAI_Metadata_StudentPapers - USC.csv')

In [63]:
usc_df.head()

,Organization (as author),Place created,Unnamed: 2,Session,Year,Course Number,Instructor(s),Authors,Title,Abstract,Location
0,University of Southern California,Wrigley Marine Science Center,NaN,gazos,creek,NaN,NaN,Anneliese Suter ventana wilderness sierra club,alturis -susanville- grab-n-go bring title & c...,NaN,NaN
1,University of Southern California,Wrigley Marine Science Center,1.0,Summer,1970,NaN,NaN,"Henon, Barbara K.",An electrophysiological study of food-finding ...,NaN,NaN
2,University of Southern California,Wrigley Marine Science Center,1.0,Spring,1970,Biology 490,NaN,"Maruyama, Michael",Silicone perfusion of the arterial side of Zal...,NaN,NaN
3,University of Southern California,Wrigley Marine Science Center,1.0,Summer,1970,NaN,NaN,"Morel, Nicole",Effect of DDT on photosynthesis in ulva,Ulva blades are bathed in sea water containing...,NaN
4,University of Southern California,Wrigley Marine Science Center,1.0,NaN,1970,NaN,NaN,"Woollacott, Marjorie",Analysis of neural firing patterns in Navanax ...,NaN,NaN

In [62]:
usc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Organization (as author)  205 non-null    object
 1   Place created             205 non-null    object
 2   Unnamed: 2                204 non-null    float64
 3   Session                   174 non-null    object
 4   Year                      190 non-null    object
 5   Course Number             19 non-null     object
 6   Instructor(s)             5 non-null      object
 7   Authors                   205 non-null    object
 8   Title                     202 non-null    object
 9   Abstract                  2 non-null      object
 10  Location                  2 non-null      object
dtypes: float64(1), object(10)
memory usage: 17.7+ KB

In [76]:
normed_usc_df = usc_df.drop(['Organization (as author)',
                             'Unnamed: 2',
                             'Session',
                             'Course Number',
                             'Instructor(s)',
                             'Location'], axis=1)
normed_usc_df.rename(columns={'Place created': 'Institution', 'Authors': 'Author'}, inplace=True)

In [77]:
all_papers = pd.concat([normed_hopkins_df, normed_fhl_df, normed_fhl_dig_df, 
                        normed_hatfield_df, normed_carlton_df, normed_usc_df])

In [78]:
all_papers.head()

,Author,Secondary Author,Year,Title,Keywords,Abstract,Institution
0,"Berrie, Warren R.","Devereaux, Mitchel W.",1963,Identification and location of carbohydrases i...,"black turban snail, Tegula",Carbohydrate digestion in the snail Tegula fun...,Hopkins
1,"Best, Barbara A.",NaN,1963,Feeding activities of Tegula funebralis,"black turban snail, Tegula",1. Tegula funebrals will ingest nearly any alg...,Hopkins
2,"Black, Patricia Ann",NaN,1963,Description and habitat of some micro-organism...,"black turban snail, Tegula",The digestive tract of a gastropod was examine...,Hopkins
3,"Bollay, Melody",NaN,1963,Distribution and utilization of gastropod shel...,"black turban snail, Tegula",1) Of the three species of hermit crabs found ...,Hopkins
4,"Burke, William Romney",NaN,1963,Chemoreception by Tegula funebralis (Mollusca:...,"black turban snail, Tegula",Tegula funebralis has both gustatory and olfac...,Hopkins

In [82]:
len(all_papers)
all_papers['status'] = None

In [83]:
all_papers.reset_index(drop=True, inplace=True)
all_papers.to_json("data/papers.json")

In [10]:
full_text = pathlib.Path('data/full_text')

In [19]:
for row in hopkins_df.iteritems():
    print(row[0])

Author
Secondary Author
Year
Title
Pages
Month
Class
Advisor
Class.1
Keywords
Abstract
Unnamed: 11
Unnamed: 12
Unnamed: 13